{% extends "/template/default.twig" %}
{% block content %}
    <p>{{ msg }}</p>
    <ul>
        <li><a href="/chart/0/500">Activate 0 workers from the 500 robots in the factory.</a></li>
        <li><a href="/chart/100/500">Activate 100 workers from the 500 robots in the factory.</a></li>
        <li><a href="/chart/250/500">Activate 250 workers from the 500 robots in the factory.</a></li>
        <li><a href="/chart/500/500">Activate 500 workers from the 500 robots in the factory.</a></li>
        <li><a href="/chart/10/100">Activate 10 workers from the 100 robots in the factory.</a></li>
    </ul>
{% endblock %}