<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>NodeJs First try</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body class="container">
<header>
    <small>Playing with node.js and express</small>
</header>
{% block content %}
{% endblock %}
</body>
</html>